<section id="Educacion">
  <div class="row" id="Educacion">
    <h2><b>Educacion </b></h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h3 id="educacion">Estudio 1</h3>
          -
          <h5 id="educacion">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
      <ul>
        <li>
          <h3 id="educacion">Estudio 2</h3>
          -
          <h5 id="educacion">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
      <ul>
        <li>
          <h3 id="educacion">Estudio 3</h3>
          -
          <h5 id="educacion">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
    </div>
  </div>
</section>
<!-- boton de modificar -->
<!-- <div class="position-absolute"> -->

<!-- <div class="position-absolute top-0 start-100 translate-middle">
        <button>
            <i
              class="fa-solid fa-user-pen fa-4x"
              class="btn btn-primary btn-lg p-5"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
            </i>
          </button>
    </div>
</div> -->
