<section id="SobreMi">
  <div class="container">
    <div class="row g-2">
      <div class="col-xs 12 col-sm-2 col-md-2 col-lg-2">
        <img
          src="../../../assets/img/WhatsApp Image 2022-09-04 at 01.29.13.png"
          alt="dev-perfil"
          class="Foto"
          id="fotodeperfil"
        />
      </div>
      <div class="col-xs 12 col-sm-2 col-md-2 col-lg-2">
        <h5 id="nombre">Aldana E. Godoy</h5>
        <h6>Full Stack Developer Jr</h6>
      </div>
      <div class="col-xs 12 col-sm-8 col-md-8 col-lg-8">
        <span>
          <h4><b>Acerca de mi</b></h4>
          <p>
            Soy estudiante, interesada en explorar los distintos campos en los
            que se podría desarrollar mi profesión para que esto me lleve a un
            crecimiento personal. Aportando desde lo individual buena
            disposición para trabajar y curiosidad por aprender.
          </p>
        </span>
      </div>
    </div>
  </div>
</section>
