#SobreMi {
    padding: 0.625rem;
    max-width: 100%;
    text-align: center;
    margin-left: 0%;
  
    background: #937dc2;
    background: -moz-linear-gradient(left, #937dc2 0%, #c689c6 48%, #c689c6 100%);
    background: -webkit-linear-gradient(
      left,
      #937dc2 0%,
      #c689c6 48%,
      #c689c6 100%
    );
    background: linear-gradient(to right, #937dc2 0%, #c689c6 48%, #c689c6 100%);
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 0.138rem;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
  }
  
  @media (min-width: 576px) {
    #fotodeperfil {
      width: 8.125rem;
      position: relative;
      box-shadow: 0.188rem 0.188rem 0.188rem #83638c;
      left: -0.188rem;
      top: -3.125rem;
      border-radius: 48% 52% 49% 51% / 100% 0% 100% 0%;
    }
  }
  
  @media (max-width: 575px) {
    #fotodeperfil {
      width: 6.25rem;
      top: 12.563rem;
      position: absolute;
      left: 10rem;
      box-shadow: 0.063rem 0.313rem 0.125rem #83638c;
    }
  }
  #nombre {
    font-weight: bold;
    margin-top: 0.875rem;
  }