.gradient-custom {
  /* fallback for old browsers */
  background: #937dc2;
  background: -moz-linear-gradient(left, #937dc2 0%, #c689c6 48%, #c689c6 100%);
  background: -webkit-linear-gradient(
    left,
    #937dc2 0%,
    #c689c6 48%,
    #c689c6 100%
  );
  background: linear-gradient(to right, #937dc2 0%, #c689c6 48%, #c689c6 100%);
}
