<div class="container-fluid">
  <ul class="list-group list-group-horizontal">
    <h3 class="list-group-heading">Sigueme</h3>
    <li class="list-group-item">
      <a
        href="https://www.instagram.com/aldupanda/"
        target="_blank"
        class="fa-brands fa-instagram fa-2x"
      ></a>
    </li>
    <li class="list-group-item">
      <a
        href="https://www.linkedin.com/in/aldana-godoy-328095240/"
        class="fa-brands fa-linkedin-in fa-2x"
        target="_blank"
      ></a>
    </li>
    <li class="list-group-item">
      <a
        href="https://github.com/Aldgodoy"
        class="fa-brands fa-github fa-2x"
        target="_blank"
      ></a>
    </li>
    <!-- Button login -->
    <li class="list-group-item">
      <a href="/login " class="fa-solid fa-user-lock fa-2x" target="_blank"></a>
    </li>
  </ul>
</div>
