<section id="ExperienciaLab">
  <div class="row" id="ExperienciaLab">
    <h2><b>Experiencia laboral </b></h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h3 id="experiencia">Trabajo 1</h3>
          -
          <h5 id="experiencia">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
      <ul>
        <li>
          <h3 id="experiencia">Trabajo 2</h3>
          -
          <h5 id="experiencia">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
      <ul>
        <li>
          <h3 id="experiencia">Trabajo 3</h3>
          -
          <h5 id="experiencia">(years)</h5>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit
          assumenda odio numquam sapiente officiis amet dicta enim sunt a
          architecto ipsum impedit minima nulla, neque, alias velit vitae
          voluptas?
        </p>
      </ul>
    </div>
  </div>
</section>
