<section id="Habilidades">
  <div class="row" id="Habilidades">
    <h1>Habilidades</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="85"
        [title]="'HTML 5'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F0682E'"
        [innerStrokeColor]="'#E65127'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="95"
        [title]="'Github'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#2F2F2E'"
        [innerStrokeColor]="'#3C3E42'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="90"
        [title]="'CSS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#30A9DE'"
        [innerStrokeColor]="'#0C73B8'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="60"
        [title]="'JavaScript'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2BF26'"
        [innerStrokeColor]="'#E8A429'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="80"
        [title]="'Inglés'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="90"
        [title]="'Trabajo'"
        [subtitle]="'en equipo'"
        [showUnits]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#6C4AB6'"
        [innerStrokeColor]="'#8D72E1'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
  </div>
</section>
