<section id="Habilidades">
  <div class="row" id="Habilidades">
    <h1>Habilidades</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="85"
        [title]="'HTML 5'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="95"
        [title]="'Github'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="90"
        [title]="'CSS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="60"
        [title]="'JavaScript'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="80"
        [title]="'Inglés'"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
      <circle-progress
        [percent]="90"
        [title]="'Trabajo'"
        [subtitle]="'colaborativo'"
        [showUnits]="false"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </div>
  </div>
</section>
