<nav class="navbar navbar-expand-sm bg-light justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <app-logo-arg-prog></app-logo-arg-prog>
      <app-social></app-social>
    </a>
  </div>
</nav>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Fomulario log-->
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">
            Email
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control-plaintext"
              id="staticEmail"
              value="email@dominio.com"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Contraseña
          </label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/registro.html">¿No estas registrado?</a>
        <button type="button" class="btn btn-dark">Iniciar Sesion</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          arial-hidden="true"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<app-banner></app-banner>
<app-acerca-de></app-acerca-de>
<app-experiencia-lab></app-experiencia-lab>
<app-educacion></app-educacion>
<app-hsskills></app-hsskills>


